/* Form */
.container{
    width: 600px;
    height: 400px;
    margin: auto;
    margin-top: 200px;
    border: 2px solid orange;
}

.main__channel-select-wrap,
.main__text-wrap,
.main__switch-button-wrap,
.main__add-fast-button-wrap,
.main__add-url-button-wrap
 {
    margin-top: 10px;
    margin-bottom: 20px;
}


.main__channel-select,
.main__text {
    width: 90%;
}


