.container{
    width: 600px;
    height: 400px;
    margin: auto;
    margin-top: 200px;
    border: 2px solid orange;
}

.main__channel-select-wrap,
.main__switch-button-wrap,
.main__buttons
 {
    margin-top: 10px;
    margin-bottom: 20px;
}


.main__channel-select,
.main__textarea {
    width: 90%;
}


