.main__textarea-wrap {
    position: relative;
    margin-top: 10px;
    margin-bottom: 20px;
}

.main__textarea-wrap textarea {
    width: 90%;
    height: 100%;
    box-sizing: border-box;
}

.main__textarea-wrap button {
    float: left;
    width: 40px;
    height: 40px;
    margin: 5px;
    position: absolute;
}

